main.catalog-detail.container
  .row
    .col-12.col-lg-7
      .slider
        .slides
          .slide
            background-color: #555666
            img
              width: 100%
              min-height: 300px
              height: auto
        .dots
          .dot
            width: 8px
            height: 8px
            background-color: #002b5a
            opacity: 0.4
            img
              display: none
      .action-buttons.row
        padding-right: 15px
        padding-left: 15px
        .action-buttons__button
          margin: 4px 0
    .col-12.col-lg-5
      h1.name
        color: #000000
        font-family: Circe, sans-serif
        font-size: 18px
        font-weight: 700
      .features.row
        .feature.col-12.col-md-4.col-lg-6
          display: flex
          .icon
            display: flex
          .faeture__name
            color: #96a7bb
            font-family: Circe, sans-serif
            font-size: 16px
            font-weight: 400
          .feature__value
            color: #000000
            font-family: Circe, sans-serif
            font-size: 16px
            font-weight: 400
      .desctiption
        color: #000000
        font-family: Circe, sans-serif
        font-size: 16px
        h2
          font-size: 16px
          font-weight: 700
        p
          font-weight: 400
      .buy-and-price__holder.row
        .price
        .addtion
        .in-credit

