main.catalog
  padding-top: 16px
  padding-bottom: 50px
  background-color: #fafbfc
  a, a:hover
    text-decoration: none
.catalog-container
  .catalog-presets-filter
    section.main
      .filter-button
        width: 100%
        @media screen and (min-width: 992px)
          width: auto
  .catalog-sort
    display: flex
  .catalog-cards
    display: flex
    flex-wrap: wrap
    article.catalog-card
      position: relative
      width: 100%
      padding: 8px
      cursor: pointer
      @media screen and (min-width: 992px)
        width: 50%
      .catalog-card__border
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        border: 1px solid #d7dee5
        background-color: #fafbfc
        transition: all .01s
      .catalog-card__content
        position: relative
        z-index: 19
        display: flex
        flex-direction: column
        padding-bottom: 2px
        @media screen and (min-width: 750px)
          flex-direction: row
          align-items: center
          .to-left
            width: 286px
          .to-right
            flex: 1 1 auto
            padding-left: 18px
        @media screen and (min-width: 992px)
          flex-direction: column
          .to-right
            padding-left: 8px
            padding-right: 8px
            width: 100%
          .to-left
            width: 100%
            padding: 8px 0
        .catalog-card__images
          position: relative
          display: flex
          justify-content: center
          align-items: center
          img
            width: 100%
            max-width: 100%
            height: auto
            //max-height: 155px
            @media (min-width: 992px)
              //max-height: 230px
          .picker
            position: absolute
            top: auto
            bottom: 16px
            left: 16px
            display: flex
            .dot
              margin-right: 8px
              width: 8px
              height: 8px
              border-radius: 5px
              background-color: #ffffff
              opacity: 0.4
              &.set, &.active
                opacity: 1
          &:after
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            content: ' '
            box-shadow: inset 0 0 40px rgba(0, 43, 90, 0.04)
            background-color: rgba(0, 43, 90, 0.04)
        .catalog-card__title
          padding-top: 16px
          display: flex
          justify-content: space-between
          h1
            color: #000000
            font-family: Circe, sans-serif
            font-size: 18px
            font-weight: 700
          .added-sets
            display: none
            @media screen and (min-width: 750px)
              display: inline-block
              color: rgba(0, 43, 90, 0.4)
              font-family: Circe, sans-serif
              font-size: 16px
              font-weight: 400
        .catalog-card__options
          display: flex
          justify-content: space-between
          flex-wrap: wrap
          padding: 5px 0
          border-top: 1px solid #d7dee5
          border-bottom:  1px solid #d7dee5
          .year, .mileage,
          .power,.gearbox
            display: flex
            width: 50%
            padding: 5px 11px
            @media screen and (min-width: 750px)
              width: auto
              padding-left: 0
              padding-right: 0
            .icon
              display: flex
              justify-content: center
              align-items: center
            .text
              margin-left: 8px
              color: #000000
              font-family: Circe, sans-serif
              font-size: 16px
              font-weight: 400
        .catalog-card__price
          display: flex
          justify-content: space-between
          align-items: center
          padding: 15px
          @media (min-width: 992px)
            padding-bottom: 0px
          .now
            color: #000000
            font-family: Circe, sans-serif
            font-size: 24px
            font-weight: 700
            @media (min-width: 750px)
              font-size: 36px
          .before
            display: flex
            position: relative
            justify-content: center
            align-items: center
            width: 40%
            height: 36px
            border-radius: 3px
            border: 1px solid #d7dee5
            color: #99aabd
            font-family: Circe, sans-serif
            font-size: 14px
            font-weight: 700
            @media (min-width: 750px)
              font-size: 20px
            .red-line
              position: absolute
              top: calc(50% - 3px)
              left: 8px
              width: calc(100% - 16px)
              height: 4px
              background-color: #dc291a
        .catalog-card__on-credit
          display: none
          @media screen and (min-width: 992px)
            display: block

      &:hover
        z-index: 25
        @media screen and (min-width: 750px)
          .catalog-card__border
            width: calc(100% + 40px)
            height: calc(100% + 40px)
            top: -20px
            left: -20px
            background-color: #ffffff
          .catalog-card__content .catalog-card__title h1
            color: #007aff

      &:active
        z-index: 25
        @media screen and (min-width: 750px)
          .catalog-card__border
            width: 100%
            height: 100%
            top: 0
            left: 0
            background-color: #ffffff
            box-shadow: 0 0 80px rgba(0, 43, 90, 0.08)
          .catalog-card__content .catalog-card__title h1
            color: #0052ac

aside.catalog-aside
  position: fixed
  top: 0
  left: auto
  right: -100%
  .action-buttons
    display: none
    margin-top: 16px
    .action-buttons__button
      margin-top: 8px
    @media screen and (min-width: 992px)
      display: block
  .filter-header
    padding: 10px 16px
    .main.row
      justify-content: space-between
      align-items: center
      p.text
        display: flex
        align-items: center
        color: #dc291a
        font-family: Circe, sans-serif
        font-size: 14px
        font-weight: 400
        margin-bottom: 0
        line-height: 1
      .close-button
        display: flex
        justify-content: center
        align-items: center
        width: 32px
        height: 32px
        border-radius: 16px
        border: 1px solid #d7dee5
    @media screen and (min-width: 992px)
      display: none
  @media screen and (min-width: 750px) and (max-width: 992px)
    max-width: 300px
  @media screen and (max-width: 992px)
    padding: 0
    background: #ffffff
    z-index: 45
    width: 100vw
    transition: all .1s
    animation: filter-outside-slide-out .1s alternate
    animation-fill-mode: forwards
    &.set
      animation: filter-outside-slide-in .1s alternate
      animation-fill-mode: forwards
  @media screen and (min-width: 992px)
    position: static
    height: auto

.catalog-sort
  display: flex
  justify-content: space-between
  align-items: center

.sorters-title
  display: none
  @media screen and (min-width: 750px)
    display: flex
    align-items: center
    color: #000000
    font-family: Circe, sans-serif
    font-size: 14px
    font-weight: 700
    padding-right: 16px

.sorters
  display: flex
  align-items: center
  .sorter+.sorter
    margin-left: 8px
  .active
    color: #0052ac
  .noactive
    color: #bec8d5
    &:after
      filter: grayscale(1)
      opacity: .2

.filter-menu-button
  display: flex
  align-items: center
  .text
    display: none
    @media screen and (min-width: 750px) and (max-width: 992px)
      display: block
      padding: 8px
      color: #007aff
      font-family: Circe, sans-serif
      font-size: 14px
      font-weight: 400
  .circled-image
    width: 36px
    height: 36px
  @media screen and (min-width: 992px)
    display: none

.catalog-pagination
  margin-top: 24px
  .catalog-pagination__buttons
    display: flex
    justify-content: flex-end
    > div
      margin-left: 8px

.response-is-empty
  border-top: 1px solid #d7dee5
  padding-top: 20px
  p.text
    width: 100%
    text-align: center
    display: flex
    align-items: center
    color: #dc291a
    font-family: Circe, sans-serif
    font-size: 14px
    font-weight: 400
    margin-bottom: 0
    line-height: 1

@keyframes filter-outside-slide-in
  0%
    right: -100%
  90%
    right: 0
  100%
    right: 0
    position: absolute

@keyframes filter-outside-slide-out
  0%
    right: 0
    position: absolute
  100%
    right: -100%
    position: fixed

@import "./parts/noFoundBlock.sass"
@import "./parts/followUsBlock.sass"