@import "../../node_modules/bootstrap/scss/bootstrap"
@import "../../node_modules/bootstrap/scss/bootstrap-grid"
@import "../../node_modules/bootstrap/scss/bootstrap-reboot"
@import "./fonts"
@import "./elements"
@import "./catalog"

header
  padding: 16px 0
  position: relative
  .row
    justify-content: space-between
    align-items: center
  .menu-holder
    @media(min-width: 992px)
      flex: 1 1 auto
      margin-left: 30px
  .menu-wrapper
    display: none
    @media screen and (min-width: 992px)
      display: flex
      flex-direction: row
      border-left: 1px solid #d7dee5
      height: 44px
  .menu-burger.set+.menu-wrapper
    position: absolute
    display: flex
    flex-direction: column
    top: 100%
    left: calc(50% - 50vw)
    width: 100vw
    .menu__item
      display: flex
      flex-direction: column
      margin: 0
      width: 100%
      padding: 15px
      border: 1px solid #d7dee5
      border-left: none
      border-right: none
      .link
        font-size: 18px
        position: relative
        display: block
        width: 100%
        text-align: center
        &:after
          right: 0
          top: 6px
          position: absolute
      .menu_submenu
        position: static
        width: 100%
        text-align: center
  .menu-burger
    width: 44px
    height: 44px
    border-radius: 24px
    border: 1px solid #d7dee5
    display: flex
    justify-content: center
    align-items: center
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAOCAYAAAAi2ky3AAAAKklEQVQ4T2Nk0I76z0AFwEg9g6jgGpARjFQyZ1AaNBprhGJ3MEb/YIs1AHWgCSfyTtLzAAAAAElFTkSuQmCC") center no-repeat
    transition: all .1s
    cursor: pointer
    &.set
      background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAA3ElEQVQ4T42Syw2CQBRFzyQObO0DiTTgrwPdsrIErURLsAPtQNAGMFiIW8AEM3yUAYb4lpOcue/dewWO70F+QNobotOLofG2Y7LkDGIvcPwAWAAR0loZ4QJKr4AHhILylwDE1AhrUP5A2ktRbDYE90BqqxI0wer9u16pVJ/yA7twXH3pgg6pdx2s4XdyJxeTAhT5k5E9a5vWD2bpDXArxRhpzYfBphFKSU2p3ImqZU6dU3VTYU5/VI04WlDdIkNUVQEM0EBUjcp1LddqqyuHClTdOyKt9X8lTy/A7gNd3JZDnLduXQAAAABJRU5ErkJggg==") center no-repeat
  .menu__item
    margin-left: 24px
    display: flex
    position: relative
    &.with-submenu:after
      background-position: center center
    .link
      position: relative
      &:hover
        color: #0052ac
        &.with-submenu:after
          background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFCAYAAAB8ZH1oAAAAm0lEQVQYV2P8/////4ZpaxkCnEwYDDTkGZDBhRsPGTbuP8tQnxnEwLh+z+n/gfn9DAK8XAz95bEMCQF2YLXzNxxkKOpcwvDpy3eGtRMLGBjff/r6v6BjEcPCjYfBCsAK/zMwLNh4CM4HGcAIshoksmDDIYaCjsUMH798AysQ5ONm6CuLgdsAVwiSBLkpoXoGAxMjI8O8lnQUNwMAXT1BBQLiO7kAAAAASUVORK5CYII=')
    .menu_submenu
      position: absolute
      top: 0
      left: -18px
      display: none
      width: max-content
      @media screen and (min-width: 992px)
        border: 1px solid #d7dee5
        background-color: #ffffff
        box-shadow: 0 0 80px rgba(0, 43, 90, 0.08);
        padding: 33px 16px 16px
        z-index: 20
      .submenu__item
        display: inline
        padding-top: 8px
        color: #96a7bb
        font-family: Circe, sans-serif
        font-size: 14px
        font-weight: 400
        line-height: 20px
        cursor: pointer
        &:hover
          color: #0052ac
        &:active
          color: #002b5a
    &:hover:not(.set)
      .link
        position: relative
        z-index: 30
      .menu_submenu
        display: flex
        flex-direction: column
      .link
        &.with-submenu:after
          height: 2px
          background: #002b5a
        &:hover
          color: #dc291a
          &.with-submenu:after
            background: #dc291a

.breadcrumb
  background-color: #fafbfc
  padding: 16px