aside.catalog-aside.hide-main-on-set.col-12.col-lg-3
    include filter
    .action-buttons
        .action-buttons__button.button-type-d.
            Продать свой автомобиль
        .action-buttons__button.button-type-d.
            Заявка на тест-драйв
        .action-buttons__button.button-type-d.
            Trade-in
        .action-buttons__button.button-type-d.
            Страхование