html(lang=ru)
    include head
    body
        include header
        include breadcrumb
        main.catalog
            .container
                .row
                    include asideCatalogPanel
                    include catalog-container
        include noFoundBlock
        include followUsBlock
        include footer
