main.catalog-detail
    .container
        .row
            .col-12.col-lg-7
                .slider
                    .slides
                        .slide
                            img(src="")
                    .dots
                        .dot
                            img(src="")
                .action-buttons.row
                    .action-buttons__button.col-12.col-md-4
                        .button-type-d.
                            Хочу приобрести
                    .action-buttons__button.col-12.col-md-4
                        .button-type-d.
                            Хочу тест-драйв
                    .action-buttons__button.col-12.col-md-4
                        .button-type-d.
                            Trade-in
            .col-12.col-lg-5
                .right-panel
                    h1.name.
                        Lada Vesta SW Cross
                    .features.row
                        .col-12.col-md-4.col-lg-6
                            .feature
                                .icon
                                .faeture__name
                                .feature__value
                    .desctiption
                        h2.
                            Комплектация
                        p.
                            Независимая подвеска, амортизационная стойка типа «МакФерсон» / Передние противотуманные фары / Заводская тонировка / Кожаная оплетка рулевого колеса / Телескопическая регулировка руля
                        h2.
                            Комплектация
                        p.
                            Независимая подвеска, амортизационная стойка типа «МакФерсон» / Передние противотуманные фары / Заводская тонировка / Кожаная оплетка рулевого колеса / Телескопическая регулировка руля

                    .buy-and-price__holder.row
                        .col-12.col-md-4.col-lg-6
                            .price.
                                1&nbsp;669&nbsp;000&nbsp;₽
                        .col-12.col-md-4.col-lg-6
                            .addtion.
                                Зимняя резина в подарок!
                        .col-12.col-md-4.col-lg-12
                            .in-credit.
                                В кредит от 2 605 ₽/месяц

