html(lang=ru)
    include head
    body
        include header
        include breadcrumb
        .l.container
            .links.row
                .col-1
                    .link-type-a.
                        link
                .col-1
                    .link-type-b.
                        link
                .col-1
                    .link-type-c.by-click-changable.
                        link
                .col-1
                    .link-type-c.by-click-changable.set.
                        link
        include footer