html(lang=ru)
    include head
    body
        include header
        include breadcrumb
        main
            .container
                .row
                    include filter
                    include catalog-container
        include footer
