.catalog-container.col-12.col-lg-9
    .catalog-presets-filter.filter-container.container
        header.row
            p.title.col-6.
                title
            .collapser.col-6
                .link-type-c.by-click-changable.
                    collapse
        section.main.row
            .filter-button
                .button-type-a.by-click-changable
                    | filter with a long name
                    .close-x
                        img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAWUlEQVQoU3WO0Q2AMAhE301mR6mTaTfRyTA0tGlJ5AuOB3cyswockk6Wmno0F3APaNGa/GiFgBfwgyapdiBBPvalN3/AtMsWDXjCokPaAsXbLXgMZXimTOUDrCI6e4MWoJYAAAAASUVORK5CYII=")
            .filter-button
                .button-type-a.by-click-changable
                    | filter
                    .close-x
                        img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAWUlEQVQoU3WO0Q2AMAhE301mR6mTaTfRyTA0tGlJ5AuOB3cyswockk6Wmno0F3APaNGa/GiFgBfwgyapdiBBPvalN3/AtMsWDXjCokPaAsXbLXgMZXimTOUDrCI6e4MWoJYAAAAASUVORK5CYII=")
            .filter-button
                .button-type-a.by-click-changable
                    | filter
                    .close-x
                        img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAWUlEQVQoU3WO0Q2AMAhE301mR6mTaTfRyTA0tGlJ5AuOB3cyswockk6Wmno0F3APaNGa/GiFgBfwgyapdiBBPvalN3/AtMsWDXjCokPaAsXbLXgMZXimTOUDrCI6e4MWoJYAAAAASUVORK5CYII=")

    .catalog-sort

    .catalog-cards
        article.catalog-card
            .catalog-card__border
            .catalog-card__content
                .catalog-card__images
                    img
                    .picker
                        .dot
                .catalog-card__title
                    h1
                    .added-sets
                .catalog-card__options
                    .year
                    .mileage
                    .power
                    .gearbox
                .catalog-card__price
                    .now
                    .before
                .catalog-card__on-credit
