main.catalog-detail.container
    .row
        .col-12.col-lg-7
            .slider
                .slides
                    .slide
                        img(src="")
                .dots
                    .dot
                        img(src="")
            .action-buttons.row
                .action-buttons__button.button-type-d.col-12.col-lg-4.
                    Хочу приобрести
                .action-buttons__button.button-type-d.col-12.col-lg-4.
                    Хочу тест-драйв
                .action-buttons__button.button-type-d.col-12.col-lg-4.
                    Trade-in
        .col-12.col-lg-5
            h1.name.
                Lada Vesta SW Cross
            .features.row
                .feature.col-12.col-md-4.col-lg-6
                    .icon
                    .faeture__name
                    .feature__value
            .desctiption
                h2.
                    Комплектация
                p.
                    Независимая подвеска, амортизационная стойка типа «МакФерсон» / Передние противотуманные фары / Заводская тонировка / Кожаная оплетка рулевого колеса / Телескопическая регулировка руля
            .buy-and-price__holder.row
                .price.col-12.col-md-4.col-lg-6.
                    1 669 000 ₽
                .addtion.col-12.col-md-4.col-lg-6.
                    Зимняя резина в подарок!
                .in-credit.col-12.col-md-4.col-lg-12.
                    В кредит от 2 605 ₽/месяц

