main.catalog-detail
    .container
        .row
            .col-12.col-lg-7
                .slider
                    .slides
                        .slide
                            img(src="")
                    .dots
                        .dot
                            img(src="")
                .action-buttons.row
                    .action-buttons__button.col-12.col-md-4
                        .button-type-d.
                            Хочу приобрести
                    .action-buttons__button.col-12.col-md-4
                        .button-type-d.
                            Хочу тест-драйв
                    .action-buttons__button.col-12.col-md-4
                        .button-type-d.
                            Trade-in
            .col-12.col-lg-5
                .right-panel
                    h1.name.
                        Lada Vesta SW Cross
                    .features.row
                        .col-12.col-md-4.col-lg-6
                            .feature
                                .icon
                                    img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAdklEQVQ4T2NkQAL7Tly9wMDA8N/JQtsQWRydjU0dI5pB/0F8JwttFHEsBmGoY4Saro/PBUTIXQAZBDadUjCIDSIUwLi8DgsauNeobhDMBpjBxPIxXESsRnSLaOc1UtMTzsCmmteoZhDVvEaxQaQagK6eWsXIRQBFraFU9YcpIgAAAABJRU5ErkJggg==")
                                .faeture__name.
                                    Год выпуска:
                                .feature__value.
                                    value
                            .feature
                                .icon
                                    img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAB3ElEQVQ4T41US3LTQBB9T4DFLskJEEuiomJvQF5h2QcgnID4BIEb+AaEE+Ab4BPI3lmwiasoJUt8g8i7yBTTVEsa48+I0FWqmprped3vvR4Re5GkWQ7giP76JO50dP1fQc1K5jdjUM4AyQH26ptLALkAi0EUDh9Cq4DSTC89a0heUbx23H2hOY1hgSYA3gJYkbzQbBEZATgDsOxH4fMHO7KaVJcxHHTDsa6n327OReRrDZD3o/Dknx0laSY2YQdo/qMn9Kb2rB+FZffT+W0g/P2F9D7Hr0+VSRksDzwzhuCN0gDwAcbL4ZkrAO2Srr8O8KsVGINLQoLaEHW0/PpR2LEaLWo9XN0v6a87pngyInjpSFj8BarsP68rWPdWdgzor3um8C8I+eSqJMCk7MhyV4utZqrJ9Pr6uDy8f9ze1ssBttoAbQC/Z6oL4leh0t0UEcgIlPeujvQVHADZxCTNJiTH1pnKLfPTCSQmPgBK0kw7UZ0qWkBOcohWMZOiNRPIjCiH9kjHBeTxIDq9agLSid4EyXfbM6PDagSBAtikHSClUz+VAwZ2IF3UdG8HqNZhtv+ABfy4Xd2p0/6m609AMXHcfakFGuPQ/vltgKf3uRStOxXTe4TF9ig0If0BixDSbXc4Lb0AAAAASUVORK5CYII=")
                                .faeture__name.
                                    Привод:
                                .feature__value.
                                    value
                            .feature
                                .icon
                                    img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABrElEQVQ4T52UQVLCMBSG/1dHWaInEJcSHelGykpaDiDeQE8gngC4AZ5AjiAHoMUVZQWOFpfCDXAJjjwnJe0EsMD4dmmSP3n//6Xk9fuHmO5XGVQGkMHmGjiWML3uR4bp5wmgIsAdSn3fUNt/bxDofotANP3qWCLn+sEzgGttT4tcP5gASJMB074Ug10EXT/g1XX/FRoBONbExtTuBjUiVBNuMmJgYLDxYBdO5eawvO5bkcnwojHx3CY5UD5Js/VTdO0JsWHqYpG3DH4sWWeVUCipwnSMeROMKwAtxxLysLjc7rDpFLK38sNGoUUbMur5J4CRY4mTpENDIa83LDOz9CkHYEBEdTuflRGHFSebmh3ZpilTXitaNU430C6cd5SQ4oY7xHt3ulfxercXdJQHy6cQXpy8KGrtScbS2qKlRCVHa3BFix1LxB4qrxqqfT3dMFEptApXpDN2LJH49lYTTQSSGfVSQdS24qESJfn6eXog+19GPjXLJSUUiWtojBfx/4F8lNhGWONfCVqxmTHyqiXXD+QtLza1pua+iI3cEtk68jsIjUN42ahIrn4BoBLlPriV8pAAAAAASUVORK5CYII=")
                                .faeture__name.
                                    Пробег:
                                .feature__value.
                                    value
                            .feature
                                .icon
                                    img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAPCAYAAADtc08vAAABK0lEQVQ4T62SsVHDQBBF/1cAIaYCTIjEjK0IOfJIFABUgDvAVGCoAOjAVAAUgGQiy5HlQCK06EApBFpmZQkcMEJmuOBu7mb3zd9/nyiXP4snEPSre/0pE885dLWGugWz5FREHkRw3QRAYkTyzD0yHwuAP03GoHQ9x+o2AfhhHEEYeT1zsAKEcSbg1bFj3jYBPIfJkJCR51i7rORTjH23d5A2AQTT17YwX+oYLOX3kRuDJs1fNUY+hvCFKh/AzkbN38WZAqS8PwkkJXhRBxPIHcE2gJPiG0vAm+dY+lj9yPmPEOG9Ol8ar37tVYCU2x+2a9tZfaBWAQrm85a8by0BtNZHUKL68VsWIm0EUCheB/zJx38FLCj5sIkMoaGJ7VQj6EwdAS83jPINgMUn9Q+RpLtSVkoAAAAASUVORK5CYII=")
                                .faeture__name.
                                    Кузов:
                                .feature__value.
                                    value
                            .feature
                                .icon
                                    img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAABrUlEQVQ4T5WSQVLCQBBFf09Z6k5voCwlWsJKspKEA6gnEE8AnAA8AdxAOIF6AAiugm7Q0uAWTyDugCqnrUlmYgJqyaymZrp/v/7dhMTp+kGZCHUiqjlH2Zvkn3c/OmXmJjE3HHu/Y/5IXUwigF0AY7dgZZLJ5t4bBGMAOyrGCFHiMc4hlo5jH/RTBP5zkUl4C8LjkKDnj9ogPgfwwYyW2Jy3nHx+khIYDrfldL1KhCqALTB1XDtbDgU8/3VXQpZVIqZrOUmiQsApgEfd1sQge1pIQLQdey8iiEQUItUBKv7Uv36Le0+Z2BsEyvGTPxIXvybEIh8SKCSerb/riDfamOfkbKNM4Oa3q7hzj6xid/DSIlBFvTPjomRb7cjE+6APxnE0HuFI+qyawBhd4ExK1LU3IBaZ2AO9JNcJzidiWVWj1ITtVIt6Aio+NjG5D0Y92XhvEKiJHIZJunpKQG/jFYAnt2DlvIcgxxJDBtVKhWyr6wcNteYAbt2CpUYcnphghQmkQqNF0tX+K8KMy5JtNWKCaImW9vxXvSWB/1b+KY5WxTcixlxaFT8W0D58Ae9B103kF2yMAAAAAElFTkSuQmCC")
                                .faeture__name.
                                    Мощность:
                                .feature__value.
                                    value
                            .feature
                                .icon
                                    img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAQCAYAAAAmlE46AAAAm0lEQVQ4T2NkgIJ9x68tYGD8H8/wn3Ghk6VWAkwcF8249/jVBiYmhv+EFKLLM+49ca2AkeF/AQMDgzyRmh/+Z2CcwAhSvO/k1QMM/xnsidLIyHDQyVzbYYA07j1xZQIjI6MBMU79////BWcLnQKwU/efumrw/w8TPzEaGVn+fXQ0075AmR+HkFOHSALYd+LqBwYGBqLiECmePwAAurNmAkPFGQwAAAAASUVORK5CYII=")
                                .faeture__name.
                                    Объём:
                                .feature__value.
                                    value
                            .feature
                                .icon
                                    img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAzElEQVQ4T7VTSw6CMBScxwU8grpuTHBjyk7qReBkehHBHcSNEtM93sATUNMGEixF649NX6dhOvM6j/LislYUbAGAVJPG0eKga1+cslLWAKb6JwC14GyuC1/cJrgKzmYOglGc8qMMVYOTsRBgGa/Y2VjwxKm9TelVcGb23ZeV8iX+P4J9IRMimNdRCukmYjuXsgcFffk+tbb8DUElOAtHe/DMQl/dR038LYFvYLqA2c19exZcBDcAk/agn3knPiBox9aEhFSTWOM8wG2CO4wPw63RQ3xcAAAAAElFTkSuQmCC")
                                .faeture__name.
                                    КПП:
                                .feature__value.
                                    value
                            .feature
                                .icon
                                    img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAASCAYAAACEnoQPAAABPElEQVQ4T8VUQVLCQBDsXg4e9Ql4tNASb+SEkQ/gC5QXqD/AH+AL5Af6AZN4ErwYS+OZJ4SrVW5bC4QiISB6cY8z0z0zPV3LYJDEAA6x/qWUOfK9vdFiGYNBIhCPsojK8ASroM4o6/veQa5mApZw3fJq3TJw+PR2LJowA4fDjzZkm35j/2raGYpIlna2QpXA+Yw4psypaO8FvMzAP2ycT08JoO5fwI4q5tanP90ZujGq9Nw4a5QfS7g0sKNMg3lnCZ2WV+s/DN57BC8Ki7xSpu1ior0DUHcC5sbOCEpVf07qsggB7Lj8EtgFTxo1BsMkgtDMSCizK2P7+Vih82qw9WVM9z/AG4y9gWDOhdtLgq0/lSKq0pmdauKFudoTkxj2ZXHrbrjCrCnJDuxXumSSX7l74c6bfAZF7jFl6t9/QfSECYuuAQAAAABJRU5ErkJggg==")
                                .faeture__name.
                                    Топливо:
                                .feature__value.
                                    value

                    .desctiption
                        h2.
                            Комплектация
                        p.
                            Независимая подвеска, амортизационная стойка типа «МакФерсон» / Передние противотуманные фары / Заводская тонировка / Кожаная оплетка рулевого колеса / Телескопическая регулировка руля
                        h2.
                            Комплектация
                        p.
                            Независимая подвеска, амортизационная стойка типа «МакФерсон» / Передние противотуманные фары / Заводская тонировка / Кожаная оплетка рулевого колеса / Телескопическая регулировка руля

                    .buy-and-price__holder.row
                        .col-12.col-md-4.col-lg-6
                            .price.
                                1&nbsp;669&nbsp;000&nbsp;₽
                        .col-12.col-md-4.col-lg-6
                            .addtion.
                                Зимняя резина в подарок!
                        .col-12.col-md-4.col-lg-12
                            .in-credit.button-type-c.
                                В кредит от 2 605 ₽/месяц

