html(lang=ru)
    include head
    body
        include header
        include breadcrumb
        .l.container
            .links.row
                .col-2
                    .link-type-a.
                        link-type-a
                .col-2
                    .link-type-b.
                        link-type-b
                .col-2
                    .link-type-c.by-click-changable.
                        link-type-c
                .col-2
                    .link-type-d.by-click-changable.set.
                        link-type-d
                .col-2
                    .link-type-e.by-click-changable.
                        link-type-e
                .col-3
                    .link-phone-in-head
                        .text
                            | +7&nbsp;(800)&nbsp;123-67-45
                        img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABRUlEQVQ4T52UwVHDMBBF3xoSjpRAjoAzQ6gA0gG5EQ8z4ApSAikhHeBDRlfSASnBh/geOoACwIwslIxjybGtk8fSPu1q/1/BrjB6Ad4QVpz2Y9Lka7fX4kOKsxa2D0zp9cddoOKAWWwnqAZugQtnVbr8jZq0qBgNzGsDMmWepeGqzxBiMpU0ZBXHhHCagDw7glrDDHD4dE/++3EATMnUbZvM7FkrmzVwVwJIMGaz1P9bLQP0ZdlBi/sOhpEjyy6ysQVdPg44CVLg/KDGhEzFTesua+xq+kAg79XgfE3vbFKy4jCak/MK5b2qaK+jBcLMkdEWCeKiUVWp7WzqdoFfm/oebdWB48IC6reVP1P/cwqrep+asbZwNMoH/T5ufNN97eey8N3I+DjQBhoF6Gzdo+5/kDQHWnDhqh/9FCOQG+ATmNup9Af7fGNEO6/JSQAAAABJRU5ErkJggg==")
            .row
                .col-2
                    .button-type-a.by-click-changable
                        | button-type-a
                        .close-x
                            img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAWUlEQVQoU3WO0Q2AMAhE301mR6mTaTfRyTA0tGlJ5AuOB3cyswockk6Wmno0F3APaNGa/GiFgBfwgyapdiBBPvalN3/AtMsWDXjCokPaAsXbLXgMZXimTOUDrCI6e4MWoJYAAAAASUVORK5CYII=")
                    .button-type-a.by-click-changable.non-active
                        | a non-active
                        .close-x
                            img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAWUlEQVQoU3WO0Q2AMAhE301mR6mTaTfRyTA0tGlJ5AuOB3cyswockk6Wmno0F3APaNGa/GiFgBfwgyapdiBBPvalN3/AtMsWDXjCokPaAsXbLXgMZXimTOUDrCI6e4MWoJYAAAAASUVORK5CYII=")
                .col-2
                    .button-type-b
                        | button-type-b
                .col-2
                    .button-type-c
                        | button-type-c
                .col-3
                    .button-type-d
                        | button-type-d
                .col-2
                    .button-type-e
                        | button-type-e

            .row
                article.filter-container.container.col-3.col-md-4
                    header.row
                        p.title.col-6.
                            title
                        .collapser.col-6
                            .link-type-c.by-click-changable.
                                collapse
                    section.main.row
                        .col-6.filter-button
                            .button-type-a.by-click-changable
                                | filter
                                .close-x
                                    img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAWUlEQVQoU3WO0Q2AMAhE301mR6mTaTfRyTA0tGlJ5AuOB3cyswockk6Wmno0F3APaNGa/GiFgBfwgyapdiBBPvalN3/AtMsWDXjCokPaAsXbLXgMZXimTOUDrCI6e4MWoJYAAAAASUVORK5CYII=")
                        .col-6.filter-button
                            .button-type-a.by-click-changable
                                | filter
                                .close-x
                                    img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAWUlEQVQoU3WO0Q2AMAhE301mR6mTaTfRyTA0tGlJ5AuOB3cyswockk6Wmno0F3APaNGa/GiFgBfwgyapdiBBPvalN3/AtMsWDXjCokPaAsXbLXgMZXimTOUDrCI6e4MWoJYAAAAASUVORK5CYII=")
                        .col-12.filter-button
                            .button-type-a.by-click-changable
                                | filter
                                .close-x
                                            img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAWUlEQVQoU3WO0Q2AMAhE301mR6mTaTfRyTA0tGlJ5AuOB3cyswockk6Wmno0F3APaNGa/GiFgBfwgyapdiBBPvalN3/AtMsWDXjCokPaAsXbLXgMZXimTOUDrCI6e4MWoJYAAAAASUVORK5CYII=")


            .row
                .input-type-a.col-2
                    .wrapper
                        .text от
                        input(placeholder='0' pattern='[0-9]{1,5}')
                .input-type-a.col-2
                    .wrapper
                        .text до
                        input(placeholder='0' pattern='[0-9]{1,5}')
    include footer