.filters-container
    article.filter-container.container.filter-header.setter(data-setby="click" data-seton=".catalog-aside")
        .main.row
            p.text.
                Закрыть фильтр
            .close-button
                img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAA3ElEQVQ4T42Syw2CQBRFzyQObO0DiTTgrwPdsrIErURLsAPtQNAGMFiIW8AEM3yUAYb4lpOcue/dewWO70F+QNobotOLofG2Y7LkDGIvcPwAWAAR0loZ4QJKr4AHhILylwDE1AhrUP5A2ktRbDYE90BqqxI0wer9u16pVJ/yA7twXH3pgg6pdx2s4XdyJxeTAhT5k5E9a5vWD2bpDXArxRhpzYfBphFKSU2p3ImqZU6dU3VTYU5/VI04WlDdIkNUVQEM0EBUjcp1LddqqyuHClTdOyKt9X8lTy/A7gNd3JZDnLduXQAAAABJRU5ErkJggg==")

    article.filter-container.container
        header.row.by-click-changable
            p.title.col-6.
                title
            .collapser.col-6
                .link-type-c.by-click-changable.
                    collapse
        section.main.row
            .col-6.filter-button
                .button-type-a.by-click-changable
                    | filter
                    .close-x
                        img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAWUlEQVQoU3WO0Q2AMAhE301mR6mTaTfRyTA0tGlJ5AuOB3cyswockk6Wmno0F3APaNGa/GiFgBfwgyapdiBBPvalN3/AtMsWDXjCokPaAsXbLXgMZXimTOUDrCI6e4MWoJYAAAAASUVORK5CYII=")
            .col-6.filter-button
                .button-type-a.by-click-changable
                    | filter
                    .close-x
                        img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAWUlEQVQoU3WO0Q2AMAhE301mR6mTaTfRyTA0tGlJ5AuOB3cyswockk6Wmno0F3APaNGa/GiFgBfwgyapdiBBPvalN3/AtMsWDXjCokPaAsXbLXgMZXimTOUDrCI6e4MWoJYAAAAASUVORK5CYII=")
            .col-12.filter-button
                .button-type-a.by-click-changable
                    | filter
                    .close-x
                        img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAWUlEQVQoU3WO0Q2AMAhE301mR6mTaTfRyTA0tGlJ5AuOB3cyswockk6Wmno0F3APaNGa/GiFgBfwgyapdiBBPvalN3/AtMsWDXjCokPaAsXbLXgMZXimTOUDrCI6e4MWoJYAAAAASUVORK5CYII=")
    article.filter-container.container
        header.row.by-click-changable
            p.title.col-6.
                title
            .collapser.col-6
                .link-type-c.by-click-changable.
                    collapse
        section.main.row
            .col-6.input-type-a
                .wrapper
                    .text от
                    input(placeholder='0' pattern='[0-9]{1,5}')
            .col-6.input-type-a
                .wrapper
                    .text до
                    input(placeholder='0' pattern='[0-9]{1,5}')
    article.filter-container.container
        header.row.by-click-changable
            p.title.col-6.
                title
            .collapser.col-6
                .link-type-c.by-click-changable.
                    collapse
        section.main.row
            .col-6.filter-button
                .button-type-a.by-click-changable
                    | filter
                    .close-x
                        img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAWUlEQVQoU3WO0Q2AMAhE301mR6mTaTfRyTA0tGlJ5AuOB3cyswockk6Wmno0F3APaNGa/GiFgBfwgyapdiBBPvalN3/AtMsWDXjCokPaAsXbLXgMZXimTOUDrCI6e4MWoJYAAAAASUVORK5CYII=")
            .col-6.filter-button
                .button-type-a.by-click-changable
                    | filter
                    .close-x
                        img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAWUlEQVQoU3WO0Q2AMAhE301mR6mTaTfRyTA0tGlJ5AuOB3cyswockk6Wmno0F3APaNGa/GiFgBfwgyapdiBBPvalN3/AtMsWDXjCokPaAsXbLXgMZXimTOUDrCI6e4MWoJYAAAAASUVORK5CYII=")
            .col-6.filter-button
                .button-type-a.by-click-changable
                    | filter
                    .close-x
                        img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAWUlEQVQoU3WO0Q2AMAhE301mR6mTaTfRyTA0tGlJ5AuOB3cyswockk6Wmno0F3APaNGa/GiFgBfwgyapdiBBPvalN3/AtMsWDXjCokPaAsXbLXgMZXimTOUDrCI6e4MWoJYAAAAASUVORK5CYII=")
            .col-6.filter-button
                .button-type-a.by-click-changable
                    | filter
                    .close-x
                        img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAWUlEQVQoU3WO0Q2AMAhE301mR6mTaTfRyTA0tGlJ5AuOB3cyswockk6Wmno0F3APaNGa/GiFgBfwgyapdiBBPvalN3/AtMsWDXjCokPaAsXbLXgMZXimTOUDrCI6e4MWoJYAAAAASUVORK5CYII=")
            .col-6.filter-button
                .button-type-a.by-click-changable
                    | filter
                    .close-x
                        img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAWUlEQVQoU3WO0Q2AMAhE301mR6mTaTfRyTA0tGlJ5AuOB3cyswockk6Wmno0F3APaNGa/GiFgBfwgyapdiBBPvalN3/AtMsWDXjCokPaAsXbLXgMZXimTOUDrCI6e4MWoJYAAAAASUVORK5CYII=")
            .col-6.filter-button
                .button-type-a.by-click-changable
                    | filter
                    .close-x
                        img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAWUlEQVQoU3WO0Q2AMAhE301mR6mTaTfRyTA0tGlJ5AuOB3cyswockk6Wmno0F3APaNGa/GiFgBfwgyapdiBBPvalN3/AtMsWDXjCokPaAsXbLXgMZXimTOUDrCI6e4MWoJYAAAAASUVORK5CYII=")
            .col-6.filter-button
                .button-type-a.by-click-changable
                    | filter
                    .close-x
                        img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAWUlEQVQoU3WO0Q2AMAhE301mR6mTaTfRyTA0tGlJ5AuOB3cyswockk6Wmno0F3APaNGa/GiFgBfwgyapdiBBPvalN3/AtMsWDXjCokPaAsXbLXgMZXimTOUDrCI6e4MWoJYAAAAASUVORK5CYII=")
    article.filter-container.container.filter-buttons
        .main.row
            .apply.col-6
                .button-type-b
                    | применить
            .clear.col-6
                .button-type-c
                    | очистить
