.filters-container
    article.filter-container.container
        header.row.by-click-changable
            p.title.col-6.
                title
            .collapser.col-6
                .link-type-c.by-click-changable.
                    collapse
        section.main.row
            .col-6.filter-button
                .button-type-a.by-click-changable
                    | filter
                    .close-x
                        img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAWUlEQVQoU3WO0Q2AMAhE301mR6mTaTfRyTA0tGlJ5AuOB3cyswockk6Wmno0F3APaNGa/GiFgBfwgyapdiBBPvalN3/AtMsWDXjCokPaAsXbLXgMZXimTOUDrCI6e4MWoJYAAAAASUVORK5CYII=")
            .col-6.filter-button
                .button-type-a.by-click-changable
                    | filter
                    .close-x
                        img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAWUlEQVQoU3WO0Q2AMAhE301mR6mTaTfRyTA0tGlJ5AuOB3cyswockk6Wmno0F3APaNGa/GiFgBfwgyapdiBBPvalN3/AtMsWDXjCokPaAsXbLXgMZXimTOUDrCI6e4MWoJYAAAAASUVORK5CYII=")
            .col-12.filter-button
                .button-type-a.by-click-changable
                    | filter
                    .close-x
                        img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAWUlEQVQoU3WO0Q2AMAhE301mR6mTaTfRyTA0tGlJ5AuOB3cyswockk6Wmno0F3APaNGa/GiFgBfwgyapdiBBPvalN3/AtMsWDXjCokPaAsXbLXgMZXimTOUDrCI6e4MWoJYAAAAASUVORK5CYII=")
    article.filter-container.container
        header.row.by-click-changable
            p.title.col-6.
                title
            .collapser.col-6
                .link-type-c.by-click-changable.
                    collapse
        section.main.row
            .col-6.input-type-a
                .wrapper
                    .text от
                    input(placeholder='0' pattern='[0-9]{1,5}')
            .col-6.input-type-a
                .wrapper
                    .text до
                    input(placeholder='0' pattern='[0-9]{1,5}')
    article.filter-container.container
        header.row.by-click-changable
            p.title.col-6.
                title
            .collapser.col-6
                .link-type-c.by-click-changable.
                    collapse
        section.main.row
            .col-6.filter-button
                .button-type-a.by-click-changable
                    | filter
                    .close-x
                        img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAWUlEQVQoU3WO0Q2AMAhE301mR6mTaTfRyTA0tGlJ5AuOB3cyswockk6Wmno0F3APaNGa/GiFgBfwgyapdiBBPvalN3/AtMsWDXjCokPaAsXbLXgMZXimTOUDrCI6e4MWoJYAAAAASUVORK5CYII=")
            .col-6.filter-button
                .button-type-a.by-click-changable
                    | filter
                    .close-x
                        img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAWUlEQVQoU3WO0Q2AMAhE301mR6mTaTfRyTA0tGlJ5AuOB3cyswockk6Wmno0F3APaNGa/GiFgBfwgyapdiBBPvalN3/AtMsWDXjCokPaAsXbLXgMZXimTOUDrCI6e4MWoJYAAAAASUVORK5CYII=")
            .col-6.filter-button
                .button-type-a.by-click-changable
                    | filter
                    .close-x
                        img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAWUlEQVQoU3WO0Q2AMAhE301mR6mTaTfRyTA0tGlJ5AuOB3cyswockk6Wmno0F3APaNGa/GiFgBfwgyapdiBBPvalN3/AtMsWDXjCokPaAsXbLXgMZXimTOUDrCI6e4MWoJYAAAAASUVORK5CYII=")
            .col-6.filter-button
                .button-type-a.by-click-changable
                    | filter
                    .close-x
                        img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAWUlEQVQoU3WO0Q2AMAhE301mR6mTaTfRyTA0tGlJ5AuOB3cyswockk6Wmno0F3APaNGa/GiFgBfwgyapdiBBPvalN3/AtMsWDXjCokPaAsXbLXgMZXimTOUDrCI6e4MWoJYAAAAASUVORK5CYII=")
            .col-6.filter-button
                .button-type-a.by-click-changable
                    | filter
                    .close-x
                        img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAWUlEQVQoU3WO0Q2AMAhE301mR6mTaTfRyTA0tGlJ5AuOB3cyswockk6Wmno0F3APaNGa/GiFgBfwgyapdiBBPvalN3/AtMsWDXjCokPaAsXbLXgMZXimTOUDrCI6e4MWoJYAAAAASUVORK5CYII=")
            .col-6.filter-button
                .button-type-a.by-click-changable
                    | filter
                    .close-x
                        img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAWUlEQVQoU3WO0Q2AMAhE301mR6mTaTfRyTA0tGlJ5AuOB3cyswockk6Wmno0F3APaNGa/GiFgBfwgyapdiBBPvalN3/AtMsWDXjCokPaAsXbLXgMZXimTOUDrCI6e4MWoJYAAAAASUVORK5CYII=")
            .col-6.filter-button
                .button-type-a.by-click-changable
                    | filter
                    .close-x
                        img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAWUlEQVQoU3WO0Q2AMAhE301mR6mTaTfRyTA0tGlJ5AuOB3cyswockk6Wmno0F3APaNGa/GiFgBfwgyapdiBBPvalN3/AtMsWDXjCokPaAsXbLXgMZXimTOUDrCI6e4MWoJYAAAAASUVORK5CYII=")
    article.filter-container.container.filter-buttons
        .main.row
            .apply.col-6
                .button-type-b
                    | применить
            .clear.col-6
                .button-type-c
                    | очистить
