.followUsBlock
    .container
        .row
            .right.col-12.col-lg-5.offset-lg-1
                h1 Новости! Скидки!
                    br.d-lg-none
                    | Акции!
                h2 Подпишитесь на нашу рассылку в Telegram
                .subscribe-button.button-type-j Подписаться
            .left.col-12.col-lg-6
                img.a320(src='/img/chat1.png')
                img.b750(src='/img/chat2.png')
                img.c992(src='/img/chat3.png')