footer
    .footer-menu
        .container
            .row
                section.panel.col-12.col-md-3
                    .header
                        h1 Автомобили
                    .links
                        a(href="/catalog/?arrFilter_136_MIN=1&set_filter=Показать")
                            p Автомобили с пробегом
                        a(href="/catalog/?arrFilter_136_MAX=0&set_filter=Показать")
                            p Новые автомобили
                        a(href="#")
                            p Заявка на тест-драйв
                        a(href="#")
                            p Продать свой автомобиль
                        a(href="#")
                            p Обменять свой автомобиль

                section.panel.col-12.col-md-3
                    .header
                        h1 Сервис
                    .links
                        a(href="#")
                            p Записаться на ТО
                        a(href="#")
                            p Шиномонтаж, развал-схождение
                        a(href="#")
                            p Кузовной ремонт
                        a(href="#")
                            p Ремонт механических агрегатов

                section.panel.col-12.col-md-3
                    .header
                        h1 О компании
                    .links
                        a(href="#")
                            p Авторай сегодня
                        a(href="#")
                            p История и достижения
                        a(href="#")
                            p Отзывы
                        a(href="#")
                            p Вакансии
                        a(href="#")
                            p Подать резюме

                section.panel.col-12.col-md-3
                    .links
                        a(href="#")
                            p.h1-like Страхование
                        a(href="#")
                            p.h1-like Кредит
                        a(href="#")
                            p.h1-like Контакты
                        a(href="#")
                            p +7 (8422) 27-00-27
                        a(href="#")
                            p info@avtoray.ru
                        .socials
                            a(href="#")
                                img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABKklEQVRIS+WWMVLCUBiEd2NBqZwAepGRCrSRxAOoN8gNPIJwA28AR9ADJGCV0KnBsYUbYJ2Z/A7RzDyBgfdIUjCmS7Pf5t+37w8BwAunjwRuANSX7wU8M5JDu33a56/4fQGiaxIi0qcfRguAx2UAAMzoh1MpSTyVzQGQLxCvkmCcGaSFLoRXquF9Ac+sxK7dai1UMS+IeiQf8gLenE7jfNNYCwGQyZ3dbj6VB6jEVXU0o8n7rYiVHfNlj/50yTgDp9PgrrnnyuAwAauutxVz9WbQykAX4AUfLikD4wx0Af4kGu/X5CTpZq6cy+aL6nAUfNZF4hqsoxNA1vqhNSJV8DBP0b//ArOVaRjynJvu8G1NNQGkSz/9bfnZRC6A2q79rAmYi8jw+uKs9w2Ux8d8u2/R7wAAAABJRU5ErkJggg==")
                            a(href="#")
                                img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAmElEQVRIS2NkYGBg2HviygRGBgZ/BgYGBRCfCuABIyPjAkdz7UZGqOH5VDAUw4j///83Mu47cfkDAwMjPy0sYGBgeMC478SV/zQyHGzsqAUEQ3c0iEaDiGAIEFQwmopGg4hgCBBUMCxSEU2rzIeMe49fbmBkZKwnGJhkKABX+uBmC8SSBAYGBnkyzMGm5eH///8XOFvqNgAAmSNhfPcE6CAAAAAASUVORK5CYII=")
                            a(href="#")
                                img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABYklEQVRIS+VVS1LCQBTsngvoDXRPqNKNJisJOYB6AvEEcAPhBnICww3wAHx2pNxoFWEPN8ADmGdNSChAJiklKRe8XTIz3e/16zdDABgE4TOBWwDn+ruAmJP03etKhwl4swDQHxAi0uEwmC4BnpRBAGDOYRBKSeAx7JEQCNBVir57VfnQZY/eZhfyJS0QD3ny5kgkn1SqlgLvgsVEUTTOMkkmARUvU/DBZNYA5UaTKMHYdazeuppI3k2VGAm0LJ5ttfTBYRD2sRrEdQik79nV+3h9EvomuYwEafY6c1Je9mUowkfPqfgrqfZXYSSo2xZN2W+U0as7ViPZt3ee/o+gdInymgzgtW5bd39ucnyP7NiUkJr+L+BYN/cgmyaNXFLRzR40GQE4/fUcbHsevlLsbl4VUSRNArGDsuJIbtM8GXIkKvXJXHAwmbZJPh2Spels/OjrxYREO+KsIKKFiPieU21/A1ub8nw+QiWGAAAAAElFTkSuQmCC")
                            a(href="#")
                                img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABGElEQVRIS+2VMU4CQRiF30uMrdxAejWxUysFD+AR5AbsDVhO4N7AvQhQ7oaGAogt3MDSmDDPzAIWKs4MzFY63SQz70u++f/5CQCDcpYReADQtPsIa0Eyb12d9bkJ70YI/RYhqc9hOX0FeFIHAMCCw3KmmsKr2H+A066XIkotkTmAU2filwNegPb1Oat+KeYd0mQhVRcEsJDRZNIwb0cJicQHFAzYGhgVL01hlYJ4/E3b3oBP0Hh+KZkM4u1PoDgAoycAd1EBVpHhqkegE1WRfWS8H3clJQAarrINUrQu00qHM3gL9gJsGu15n3nhBXBpOPgN/jyg1pG55KCYpiR7h3jedbca+utvuILYjgz+73eELyXl9zcX6QfM0px8ysauagAAAABJRU5ErkJggg==")


    .copyright
        .container.
            Авторай © 2018. Все права защищены.

script(src='/assets/app/main.js')