header.container
    .row
        .logo
            img.d-none.d-md-block(src='img/logo.png')
            img.d-md-none(src='img/logo-mobile.png')
        .menu-holder
            .menu-burger.d-lg-none.by-click-changable
                //img(src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAOCAYAAAAi2ky3AAAAKklEQVQ4T2Nk0I76z0AFwEg9g6jgGpARjFQyZ1AaNBprhGJ3MEb/YIs1AHWgCSfyTtLzAAAAAElFTkSuQmCC')
            nav.menu-wrapper.d-lg-flex
                .menu__item.by-click-changable.by-mouseleave-resetable
                    .link.link-type-e.with-submenu Автомобили
                    .menu_submenu
                        .submenu__item Автомобили с пробегом
                        .submenu__item Новые автомобили
                        .submenu__item Заявка на тест-драйв
                        .submenu__item Продать свой автомобиль
                        .submenu__item Обменять свой автомобиль
                .menu__item
                    .link-type-e.link Сервис
                .menu__item
                    .link-type-e.link Спецпредложения
                .menu__item
                    .link-type-e.link О компании
        .tel
            .link-phone-in-head
                .text
                    | +7&nbsp;(800)&nbsp;123-67-45
                img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABRUlEQVQ4T52UwVHDMBBF3xoSjpRAjoAzQ6gA0gG5EQ8z4ApSAikhHeBDRlfSASnBh/geOoACwIwslIxjybGtk8fSPu1q/1/BrjB6Ad4QVpz2Y9Lka7fX4kOKsxa2D0zp9cddoOKAWWwnqAZugQtnVbr8jZq0qBgNzGsDMmWepeGqzxBiMpU0ZBXHhHCagDw7glrDDHD4dE/++3EATMnUbZvM7FkrmzVwVwJIMGaz1P9bLQP0ZdlBi/sOhpEjyy6ysQVdPg44CVLg/KDGhEzFTesua+xq+kAg79XgfE3vbFKy4jCak/MK5b2qaK+jBcLMkdEWCeKiUVWp7WzqdoFfm/oebdWB48IC6reVP1P/cwqrep+asbZwNMoH/T5ufNN97eey8N3I+DjQBhoF6Gzdo+5/kDQHWnDhqh/9FCOQG+ATmNup9Af7fGNEO6/JSQAAAABJRU5ErkJggg==")
