section.noFoundBlock
    .container
        .video-bg
            img(src="img/noFoundBlock__video-bg.png")
        .row
            .col-lg-6.m-lg-auto
                h1 Не нашли нужный автомобиль?
                h2 Мы привезем его под заказ!
