section.noFoundBlock
    .container
        .video-bg
            img(src="img/noFoundBlock__video-bg.png")
        .row
            .content-holder.col-lg-6.m-lg-6
                h1 Не нашли нужный автомобиль?
                h2 Мы привезем его под заказ!
                .buttons
                    .a.button-type-g Заказать автомобиль
                    .b.button-tttop
